.auth_wrapper{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.authCard{
 
 padding: 2rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1.5rem;
 max-width: 1300px;
margin-bottom: 3rem;

 &_header{
  &_highlight{
  color:#ef233c;
  }
 }
 
}