.wrapper_mynotes{
  display: flex;
  justify-content: flex-start;
  
  margin-top: 100px;
  gap: 1rem;
  max-width: 1300px;
  

  flex-wrap: wrap;
  padding: 2rem;
}
.wrapper_main{
  display: flex;
  justify-content: center;
 
}